<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://personal-website-static.herokuapp.com" target="blank">Personal Website</a></h3></li>
  <li><h3><a href="https://www.linkedin.com/in/jiyang-wang-87533b113" target="blank">Linkedin</a></h3></li>
  <li><h3><a href="https://github.com/jiyangwang" target="blank">Github</a></h3></li>
</ul>
<%- include footer %>